@charset "utf-8";

div {
  &#container {
    width: 85%;
    height: 500px;
    min-width: 1030px;
    width: expression(document.body.clientWidth < 1032? "1030px" : "auto");
  }
  &#menuA {
    margin: 0;
    padding: 0;
    * {
      margin: 0;
      padding: 0;
    }
    margin: 20px 0 20px 0;
    /* width:200px;*/
    width: 20%;
    max-width: 205px;
    float: left;
    background: $base-color;
    padding-bottom: 20px;
    border: 1px solid silver;
    h4 {
      margin: 10px 0 10px 0;
      text-align: center;
    }
    dl {
      border: none;
      width: 100%;
      border-width: 1pt 0pt 1pt 0pt;
      border-style: solid;
      border-color: #fff;
    }
    dt {
      border: none;
      padding-left: 10px;
      border-width: 1pt 0pt 1pt 0pt;
      border-style: solid;
      border-color: #fff;
      a {
        padding: 7px 0;
        color: black;
        text-decoration: none;
        width: 100%;
      }
      background: $subbase-color;
      &.dt_tree.link {
        background: #f3f3f3;
      }
    }
    dd {
      border: none;
      /* padding-left:20px;*/
      a {
        text-decoration: none;
        padding: 2px 0;
        color: black;
        width: 100%;
        &:hover {
          color: #fff;
        }
        &.line:hover {}
        &.end {
          padding-bottom: 1px;
          &:hover {
            padding-bottom: 1px;
          }
        }
      }
    }
    dt {
      span {
        &.home {
          background: url(../img/menu/menu_00.png) no-repeat left top rgba(255, 255, 255, 0);
        }
        &.recture {
          background: url(../img/menu/menu_01.png) no-repeat left top rgba(255, 255, 255, 0);
        }
        &.status {
          background: url(../img/menu/menu_02.png) no-repeat left top rgba(255, 255, 255, 0);
        }
        &.schedule {
          background: url(../img/menu/menu_03.png) no-repeat left top rgba(255, 255, 255, 0);
        }
        &.user {
          background: url(../img/menu/menu_04.png) no-repeat left top rgba(255, 255, 255, 0);
        }
        &.analysis {
          background: url(../img/menu/menu_05.png) no-repeat left top rgba(255, 255, 255, 0);
        }
        &.system {
          background: url(../img/menu/menu_06.png) no-repeat left top rgba(255, 255, 255, 0);
        }
      }
      &.dt_tree.link span a {
        background: url(../img/menu/icon_link.png) no-repeat left center rgba(255, 255, 255, 0);
        margin: 0px 0px 0px 15px;
      }
      background-image: url(../img/menu/icon_arrow02.png);
      background-repeat: no-repeat;
      background-position: 180px center;
      &.active {
        background-image: url(../img/menu/icon_arrow01.png);
      }
      &.dt_tree_none {
        background-image: none;
      }
      &.direct a {
        color: #000;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/* メニュー全体 */

/* カテゴリ名 */

/* メニュー1段目pink */
/* メニュー2段目gray */
/* カテゴリメニュー */

/* (アイコン表示) */

/* ダイレクトリンク */

/* チェックボックス */

.dt_tree input[type=checkbox] {
  float: none;
}

/*メイン*/

div#main {
  float: right;
  margin: 20px 0;
  border: 1px solid silver;
  height: 100%;
  /* width:555px;*/
  width: 75%;
}
