@charset "UTF-8";
/**
 *
 * Generic CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.webroot.css
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
/* line 20, ../sass/_base.scss */
* {
  margin: 0 auto;
  padding: 0;
}

/** General Style Info **/
/* line 27, ../sass/_base.scss */
body {
  background: #fff;
  color: #fff;
  font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
  font-size: 90%;
  margin: 0;
  min-width: 1070px;
  width: expression(document.body.clientWidth < 1072? "1070px" : "auto");
}

.trm_layout {
	min-width: 960px;
	min-height: 1000px;
	margin: 0 auto;
}

/* line 37, ../sass/_base.scss */
a {
  color: #003d4c;
  text-decoration: underline;
  font-weight: bold;
}
/* line 41, ../sass/_base.scss */
a:hover {
  color: #367889;
  text-decoration: none;
}
/* line 45, ../sass/_base.scss */
a img {
  border: none;
}

/* line 50, ../sass/_base.scss */
h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

/* line 55, ../sass/_base.scss */
h1 {
  background: #fff;
  color: #003d4c;
  font-size: 100%;
}

/*h2 {
	background:#fff;
	color: #e32;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 190%;
}
h3 {
	color: #2c6877;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}*/
/* line 77, ../sass/_base.scss */
h2 {
  color: #000000;
  background: #f3f3f3;
  font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
  font-size: 190%;
  margin: 10px 0px;
  padding: 10px 5px 10px 5px;
  border-bottom: 5px solid #5467b4;
}

/* line 87, ../sass/_base.scss */
h3 {
  color: #000000;
  background: #f3f3f3;
  font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
  font-size: 165%;
  padding: 10px 5px 10px 5px;
  border-left: 5px solid #5467b4;
}

/* line 96, ../sass/_base.scss */
h4 {
  color: #fff;
  font-weight: normal;
}

/* line 101, ../sass/_base.scss */
ul, li {
  margin: 0 12px;
}
li.listmp3_var {
  margin: 0 0px;
}

/* line 105, ../sass/_base.scss */
p {
  margin: 0 0 1em 0;
}

/** Layout **/
/* line 111, ../sass/_base.scss */
#container {
  text-align: left;
}

/* line 115, ../sass/_base.scss */
#header {
  background: #5467b4;
  display: block;
  padding: 10px 20px;
}

/* line 121, ../sass/_base.scss */
#header_menu {
  float: right;
}
/* line 123, ../sass/_base.scss */
#header_menu div {
  float: left;
  margin: 15px 0px;
}
/* line 126, ../sass/_base.scss */
#header_menu div ul {
  text-align: right;
  list-style: none;
}

/* line 133, ../sass/_base.scss */
li {
  /* text-align: right; */
  list-style: none;
}

/* line 138, ../sass/_base.scss */
#header_menu .button a {
  -webkit-border-radius: 31;
  -moz-border-radius: 31;
  border-radius: 31px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
/* line 151, ../sass/_base.scss */
#header_menu .button a:hover {
  background: #f3f3f3;
  text-decoration: none;
}

/* line 157, ../sass/_base.scss */
#header_logo h1 {
  line-height: 80px;
  background: #5467b4 url("../img/sample_logo02.jpg") no-repeat left;
  background-size: contain;
  color: #fff;
  padding: 0px 280px;
}
/* line 162, ../sass/_base.scss */
#header_logo h1 a {
  color: #fff;
  background: #5467b4;
  font-weight: normal;
  text-decoration: none;
}
/* line 167, ../sass/_base.scss */
#header_logo h1 a:hover {
  color: #fff;
  background: #003d4c;
  text-decoration: underline;
}

/* line 175, ../sass/_base.scss */
#content {
  background: #fff;
  clear: both;
  color: #333;
  padding: 10px 0px 40px 0px;
  overflow: auto;
}

/* line 183, ../sass/_base.scss */
#footer {
  background: #5467b4;
  clear: both;
  padding: 6px 10px;
  text-align: center;
}

/* line 190, ../sass/_base.scss */
#header a, #footer a {
  color: #fff;
}

/** containers **/
/* line 197, ../sass/_base.scss */
div.form, div.index, div.view {
  float: right;
  width: 76%;
  border-left: 1px solid #666;
  padding: 10px 2%;
}
/* line 203, ../sass/_base.scss */
div.actions {
  float: left;
  width: 16%;
  padding: 10px 1.5%;
}
/* line 207, ../sass/_base.scss */
div.actions h3 {
  padding-top: 0;
  color: #777;
}

/** Tables **/
/* line 216, ../sass/_base.scss */
table {
  border-right: 0;
  clear: both;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}

/* line 224, ../sass/_base.scss */
th {
  border: 0;
  border-bottom: 2px solid #555;
  text-align: left;
  padding: 4px;
}
/* line 229, ../sass/_base.scss */
th a {
  display: block;
  padding: 2px 4px;
  text-decoration: none;
}
/* line 233, ../sass/_base.scss */
th a.asc:after {
  content: ' ⇣';
}
/* line 236, ../sass/_base.scss */
th a.desc:after {
  content: ' ⇡';
}

/* line 243, ../sass/_base.scss */
table tr td {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
/* line 249, ../sass/_base.scss */
table tr:nth-child(even) {
  background: #f9f9f9;
}

/* line 255, ../sass/_base.scss */
td.actions {
  text-align: center;
  white-space: nowrap;
}
/* line 259, ../sass/_base.scss */
td button[type=button][disabled] {
  margin: 0px 6px;
  padding: 2px 5px;
}

/* line 266, ../sass/_base.scss */
table td.actions a {
  margin: 0px 6px;
  padding: 2px 5px;
}
/* line 270, ../sass/_base.scss */
table.page_n {
  width: 40%;
  cellspacing: 0;
}
/* line 273, ../sass/_base.scss */
table.page_n tr td {
  width: 5px;
  border: none;
}
/* line 276, ../sass/_base.scss */
table.page_n tr td.prev, table.page_n tr td.next {
  width: 20px;
}
/* line 279, ../sass/_base.scss */
table.page_n tr td.first, table.page_n tr td.next {
  text-align: right;
}

/* ページャー共通 */
/* line 289, ../sass/_base.scss */
td.prev span, td.next span, td.first span, td.last span, td.prev span a, td.next span a, td.first span a, td.last span a {
  color: #ffffff;
  background-color: #5467b4;
}

/* SQL log */
/* line 297, ../sass/_base.scss */
.cake-sql-log {
  background: #fff;
}
/* line 299, ../sass/_base.scss */
.cake-sql-log td {
  padding: 4px 8px;
  text-align: left;
  font-family: Monaco, Consolas, "Courier New", monospaced;
}
/* line 304, ../sass/_base.scss */
.cake-sql-log caption {
  color: #fff;
}

/** Paging **/
/* line 311, ../sass/_base.scss */
.paging {
  background: #fff;
  color: #ccc;
  margin-top: 1em;
  clear: both;
}
/* line 316, ../sass/_base.scss */
.paging .current, .paging .disabled, .paging a {
  text-decoration: none;
  padding: 5px 8px;
  display: inline-block;
}
/* line 321, ../sass/_base.scss */
.paging > span {
  display: inline-block;
  border: 1px solid #ccc;
  border-left: 0;
}
/* line 325, ../sass/_base.scss */
.paging > span:hover {
  background: #efefef;
}
/* line 329, ../sass/_base.scss */
.paging .prev {
  border-left: 1px solid #ccc;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 335, ../sass/_base.scss */
.paging .next {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 340, ../sass/_base.scss */
.paging .disabled {
  color: #ddd;
}
/* line 342, ../sass/_base.scss */
.paging .disabled:hover {
  background: transparent;
}
/* line 346, ../sass/_base.scss */
.paging .current {
  background: #efefef;
  color: #c73e14;
}

/** Scaffold View **/
/* line 354, ../sass/_base.scss */
dl {
  line-height: 2em;
  margin: 0em 0em;
  width: 60%;
}
/* line 358, ../sass/_base.scss */
dl dd:nth-child(4n+2) {
  background: #f4f4f4;
}

/* line 363, ../sass/_base.scss */
dt {
  font-weight: bold;
  padding-left: 4px;
  vertical-align: top;
  /*width: 10em;*/
}

/* line 370, ../sass/_base.scss */
dd {
  margin-left: 14em;
  margin-top: -2em;
  vertical-align: top;
}

/* line 376, ../sass/_base.scss */
dl.inline {
  line-height: 2em;
  margin: 0em 0em;
  width: 90%;
}
/* line 380, ../sass/_base.scss */
dl.inline dt {
  height: 43px;
  background: #bfc6e2;
}
dl.inline dt div {
  width: 170px;
  word-wrap: break-word;
  vertical-align: top;
  position: absolute;
  text-align: left;
  padding: 0;
}
/* line 384, ../sass/_base.scss */
dl.inline dd {
  margin-top: -3em;
  padding-left: 4px;
  padding-bottom: 1px;
  height: auto;
  background: #ffffff;
}

/** Forms **/
/* line 394, ../sass/_base.scss */
form {
  clear: both;
  margin-right: 20px;
  padding: 0;
  width: 95%;
}

/* line 401, ../sass/_base.scss */
fieldset {
  border: none;
  margin-bottom: 1em;
  padding: 16px 10px;
}
/* line 405, ../sass/_base.scss */
fieldset legend {
  color: #e32;
  font-size: 160%;
  font-weight: bold;
}
/* line 410, ../sass/_base.scss */
fieldset fieldset {
  margin-top: 0;
  padding: 10px 0 0;
}
/* line 413, ../sass/_base.scss */
fieldset fieldset legend {
  font-size: 120%;
  font-weight: normal;
}
/* line 417, ../sass/_base.scss */
fieldset fieldset div {
  clear: left;
  margin: 0 20px;
}

/* line 425, ../sass/_base.scss */
form div {
  clear: both;
  margin-bottom: 1em;
  padding: .5em;
  vertical-align: text-top;
}
/* line 431, ../sass/_base.scss */
form .input {
  color: #444;
}
/* line 434, ../sass/_base.scss */
form .required {
  font-weight: bold;
}
/* line 436, ../sass/_base.scss */
form .required label:after {
  color: #e32;
  content: '*';
  display: inline;
}
/* line 443, ../sass/_base.scss */
form div.submit {
  border: 0;
  clear: both;
  /* margin-top: 1px; */
}
/* line 448, ../sass/_base.scss */
form div.input.radio {
  padding: .6em;
}
/* line 452, ../sass/_base.scss */
form span.inline_box div {
  display: inline-block;
  vertical-align: middle;
}

/* line 458, ../sass/_base.scss */
label {
  /*	display: block; */
  font-size: 110%;
  margin-bottom: 3px;
}
/* line 462, ../sass/_base.scss */
label.subtittle {
  /*
  padding: 12px;
  background: #bfc6e2;
  padding: 12px;
  background: #bfc6e2;
  */
}

/* line 470, ../sass/_base.scss */
input, button, textarea {
  clear: both;
  font-size: 140%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 1%;
  /*	width:98%; */
}

/* line 478, ../sass/_base.scss */
input[type=number] {
  width: 120px;
}

/*select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
} */
/* line 488, ../sass/_base.scss */
select {
  color: initial;
  height: 43px;
  font-size: 100%;
  padding: 12px 35px 12px 12px;
  border: 1px solid initial;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: .01px;
  text-overflow: "";
  background: #FFF url("../img/select_arrow.png") no-repeat right;
}
/* line 500, ../sass/_base.scss */
select[multiple=multiple] {
  height: 120px;
  padding: 0px 5px 0px 12px;
  /*
  width: 120%;
  padding: 5px;
  margin: -5px -20px -5px -5px;
  */
}
select::-ms-expand {
  display: none;
}

/* line 506, ../sass/_base.scss */
option {
  font-size: 120%;
  padding: 0 3px;
}

/* line 511, ../sass/_base.scss */
input[type=checkbox] {
  clear: left;
  /*	float: left;*/
  vertical-align: middle;
  margin: 0px 6px 7px 2px;
  height: 28px;
  width: auto;
}

/* line 520, ../sass/_base.scss */
div.checkbox label {
  display: inline;
}

/* line 524, ../sass/_base.scss */
input[type=radio] {
  float: left;
  width: auto;
  margin: 6px 0;
  padding: 0;
  line-height: 26px;
}

/* line 532, ../sass/_base.scss */
.radio label {
  margin: 0 0 6px 20px;
  line-height: 26px;
}

/* line 538, ../sass/_base.scss */
div.input input[type=radio] {
  float: none;
}
/* line 541, ../sass/_base.scss */
div.radio label {
  margin: 0 10px 6px 10px;
  line-height: normal;
}
div.file {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: .5em;
  border: 1px solid #999;
  background-color: #cfd8da;
}

div.file input[type="file"] {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}
input.uploadValue {
    border-width:0px;
    border-style:none;
    background:#ffffff;
    color:#000000;
    min-width: 275px;
}

/* line 547, ../sass/_base.scss */
input[type=submit], button[type=button] {
  display: inline;
  font-size: 110%;
  width: auto;
}

/*form .submit input[type=submit],
div .submit button[type=button] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	margin: 0 5px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover,
div .submit button[type=button]:hover {
	background: #5BA150;
}*/
/* line 570, ../sass/_base.scss */
form .submit input[type=submit] {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #f3f3f3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* line 587, ../sass/_base.scss */
div .submit button[type=button], div .submit a.link_button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #f3f3f3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* line 605, ../sass/_base.scss */
form p input[type=submit], form p input[type=button] {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #f3f3f3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* line 623, ../sass/_base.scss */
td button[type=button][disabled], td.actions a, td.del_actions button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #f3f3f3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* line 640, ../sass/_base.scss */
form .submit input[type=submit]:hover {
  background: #ffffff;
  text-decoration: none;
}

/* line 646, ../sass/_base.scss */
div .submit button[type=button]:hover, div .submit a.link_button:hover {
  background: #ffffff;
  text-decoration: none;
}

/* line 653, ../sass/_base.scss */
td.actions a:hover, td.del_actions button:hover {
  background: #ffffff;
  text-decoration: none;
}
/* line 657, ../sass/_base.scss */
td button[type=button][disabled] {
  background: #999999;
  text-decoration: none;
  padding: 2px 5px;
}

/* Form errors */
/* line 667, ../sass/_base.scss */
form .error {
  background: #FFDACC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: normal;
}
/* line 674, ../sass/_base.scss */
form .error-message {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  background: none;
  margin: 0;
  padding-left: 4px;
  padding-right: 0;
}
/* line 684, ../sass/_base.scss */
form .error, form .error-message {
  color: #9E2424;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/** Notices and Errors **/
/* line 697, ../sass/_base.scss */
.message {
  clear: both;
  color: #fff;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px;
}

/* line 706, ../sass/_base.scss */
.success, .message, .cake-error, .cake-debug, .notice, p.error, .error-message {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
  background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
  background-image: linear-gradient(top, #ffcc00, #E6B800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);*/
  /*	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);*/
  /*	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);*/
}

/* line 729, ../sass/_base.scss */
.success, .message, .cake-error, p.error, .error-message {
  clear: both;
  color: #fff;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 744, ../sass/_base.scss */
.success {
  clear: both;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #3B8230;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
  background-image: linear-gradient(top, #76BF6B, #3B8230);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 759, ../sass/_base.scss */
p.error {
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}
/* line 764, ../sass/_base.scss */
p.error em {
  font-weight: normal;
  line-height: 140%;
}

/* line 770, ../sass/_base.scss */
.notice {
  color: #000;
  display: block;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}

/* line 778, ../sass/_base.scss */
.success {
  color: #fff;
}

/**  Actions  **/
/* line 785, ../sass/_base.scss */
.actions ul {
  margin: 0;
  padding: 0;
}
/* line 789, ../sass/_base.scss */
.actions li {
  margin: 0 0 0.5em 0;
  list-style-type: none;
  white-space: nowrap;
  padding: 0;
}
/* line 795, ../sass/_base.scss */
.actions ul li a {
  font-weight: normal;
  display: block;
  clear: both;
}

/* Buttons and button links */
/* line 804, ../sass/_base.scss */
input[type=submit], button[type=button], .submit a.link_button {
  font-weight: normal;
  padding: 4px 8px;
  background: #dcdcdc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: linear-gradient(top, #fefefe, #dcdcdc);
  color: #333;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: #fff 0px 1px 0px;
  min-width: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  user-select: none;
}

/* line 830, ../sass/_base.scss */
.actions ul li a, .actions a {
  font-weight: normal;
  padding: 4px 8px;
  background: #dcdcdc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: linear-gradient(top, #fefefe, #dcdcdc);
  color: #333;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: #fff 0px 1px 0px;
  min-width: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  user-select: none;
}

/* line 856, ../sass/_base.scss */
.del_actions button {
  font-weight: normal;
  padding: 4px 8px;
  background: #dcdcdc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: linear-gradient(top, #fefefe, #dcdcdc);
  color: #333;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: #fff 0px 1px 0px;
  min-width: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  user-select: none;
}

/* line 882, ../sass/_base.scss */
.actions ul li a:hover, .actions a:hover {
  background: #ededed;
  border-color: #acacac;
  text-decoration: none;
}

/* line 890, ../sass/_base.scss */
input[type=submit]:active, input[type=button]:active {
  background: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
  background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
  background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
  background-image: -o-linear-gradient(top, #dfdfdf, #eee);
  background-image: linear-gradient(top, #dfdfdf, #eee);
  text-shadow: #eee 0px 1px 0px;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  border-color: #aaa;
  text-decoration: none;
}

/* line 908, ../sass/_base.scss */
.actions ul li a:active, .actions a:active {
  background: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
  background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
  background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
  background-image: -o-linear-gradient(top, #dfdfdf, #eee);
  background-image: linear-gradient(top, #dfdfdf, #eee);
  text-shadow: #eee 0px 1px 0px;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  border-color: #aaa;
  text-decoration: none;
}

/* line 925, ../sass/_base.scss */
.del_actions button:active {
  background: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
  background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
  background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
  background-image: -o-linear-gradient(top, #dfdfdf, #eee);
  background-image: linear-gradient(top, #dfdfdf, #eee);
  text-shadow: #eee 0px 1px 0px;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  border-color: #aaa;
  text-decoration: none;
}

/** Related **/
/* line 943, ../sass/_base.scss */
.related {
  clear: both;
  display: block;
}

/** Debugging **/
/* line 950, ../sass/_base.scss */
pre {
  color: #000;
  background: #f0f0f0;
  padding: 15px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 959, ../sass/_base.scss */
.cake-debug-output {
  padding: 0;
  position: relative;
}
/* line 962, ../sass/_base.scss */
.cake-debug-output > span {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 6px;
  color: #000;
  display: block;
  float: left;
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

/* line 981, ../sass/_base.scss */
.cake-debug {
  font-size: 16px;
  line-height: 20px;
  clear: both;
}

/* line 987, ../sass/_base.scss */
.cake-error {
  font-size: 16px;
  line-height: 20px;
  clear: both;
  white-space: normal;
}
/* line 991, ../sass/_base.scss */
.cake-error > a {
  text-shadow: none;
}

/* line 997, ../sass/_base.scss */
.cake-stack-trace {
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  margin: 10px 0 5px 0;
  padding: 10px 10px 0 10px;
  font-size: 120%;
  line-height: 140%;
  overflow: auto;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 1009, ../sass/_base.scss */
.cake-stack-trace a {
  text-shadow: none;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 4px 10px 2px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}

/* line 1028, ../sass/_base.scss */
.cake-code-dump pre {
  position: relative;
  overflow: auto;
}

/* line 1033, ../sass/_base.scss */
.cake-context {
  margin-bottom: 10px;
}

/* line 1038, ../sass/_base.scss */
.cake-stack-trace pre {
  color: #000;
  background-color: #F0F0F0;
  margin: 0px 0 10px 0;
  padding: 1em;
  overflow: auto;
  text-shadow: none;
}
/* line 1046, ../sass/_base.scss */
.cake-stack-trace li {
  padding: 10px 5px 0px;
  margin: 0 0 4px 0;
  font-family: monospace;
  border: 1px solid #bbb;
  -moz-border-radius: 4px;
  -wekbkit-border-radius: 4px;
  border-radius: 4px;
  background: #dcdcdc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: linear-gradient(top, #fefefe, #dcdcdc);
}

/* excerpt */
/* line 1067, ../sass/_base.scss */
.cake-code-dump pre {
  clear: both;
  font-size: 12px;
  line-height: 15px;
  margin: 4px 2px;
  padding: 4px;
  overflow: auto;
}
/* line 1074, ../sass/_base.scss */
.cake-code-dump pre code {
  clear: both;
  font-size: 12px;
  line-height: 15px;
  margin: 4px 2px;
  padding: 4px;
  overflow: auto;
}
/* line 1083, ../sass/_base.scss */
.cake-code-dump .code-highlight {
  display: block;
  background-color: rgba(255, 255, 0, 0.5);
}

/* line 1091, ../sass/_base.scss */
.code-coverage-results div.code-line {
  padding-left: 5px;
  display: block;
  margin-left: 10px;
}
/* line 1096, ../sass/_base.scss */
.code-coverage-results div.uncovered span.content {
  background: #ecc;
}
/* line 1099, ../sass/_base.scss */
.code-coverage-results div.covered span.content {
  background: #cec;
}
/* line 1102, ../sass/_base.scss */
.code-coverage-results div.ignored span.content {
  color: #aaa;
}
/* line 1106, ../sass/_base.scss */
.code-coverage-results span.line-num {
  color: #666;
  display: block;
  float: left;
  width: 20px;
  text-align: right;
  margin-right: 5px;
}
/* line 1113, ../sass/_base.scss */
.code-coverage-results span.line-num strong {
  color: #666;
}
/* line 1118, ../sass/_base.scss */
.code-coverage-results div.start {
  border: 1px solid #aaa;
  border-width: 1px 1px 0px 1px;
  margin-top: 30px;
  padding-top: 5px;
}
/* line 1124, ../sass/_base.scss */
.code-coverage-results div.end {
  border: 1px solid #aaa;
  border-width: 0px 1px 1px 1px;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
/* line 1130, ../sass/_base.scss */
.code-coverage-results div.realstart {
  margin-top: 0px;
}
/* line 1134, ../sass/_base.scss */
.code-coverage-results p.note {
  color: #bbb;
  padding: 5px;
  margin: 5px 0 10px;
  font-size: 10px;
}
/* line 1141, ../sass/_base.scss */
.code-coverage-results span.result-bad {
  color: #a00;
}
/* line 1144, ../sass/_base.scss */
.code-coverage-results span.result-ok {
  color: #fa0;
}
/* line 1147, ../sass/_base.scss */
.code-coverage-results span.result-good {
  color: #0a0;
}

/** Elements **/
/* line 1155, ../sass/_base.scss */
#url-rewriting-warning {
  display: none;
}

/** leanModal **/
/* line 1161, ../sass/_base.scss */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

/* line 1172, ../sass/_base.scss */
#test_popup {
  width: 300px;
  height: 520px;
  padding: 20px;
  display: none;
  background: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
}
/* line 1184, ../sass/_base.scss */
#test_popup div#popup_body {
  overflow-y: scroll;
  /* 縦スクロール表示 */
  height: 340px;
}

#allotment_popup {
  width: 820px;
  height: 520px;
  padding: 20px;
  display: none;
  background: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
}
/* line 1184, ../sass/_base.scss */
#allotment_popup div#popup_body {
  overflow-y: scroll;
  /* 縦スクロール表示 */
  height: 340px;
}

/* line 1191, ../sass/_base.scss */
#modal {
  width: 480px;
  height: 480px;
  padding: 20px;
  display: none;
  background: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
}

/* line 1205, ../sass/_base.scss */
modal div#modal_content {
  overflow-y: scroll;
  /* 縦スクロール表示 */
  height: 300px;
}

#modal_list {
  line-height: 2em;
  margin: 0em 0em;
  width: 90%;
}

.align-right {
  text-align: right;
}
