@charset "UTF-8";
/* line 4, ../sass/_menu.scss */
div#container {
  width: 85%;
  height: 500px;
  min-width: 1030px;
  width: expression(document.body.clientWidth < 1032? "1030px" : "auto");
}

/* line 10, ../sass/_menu.scss */
div#menuA {
  margin: 0;
  padding: 0;
  margin: 20px 0 20px 0;
  /* width:200px;*/
  width: 25%;
  max-width: 218px;
  float: left;
  background: #5467b4;
  padding-bottom: 20px;
  border: 1px solid silver;
}
/* line 13, ../sass/_menu.scss */
div#menuA * {
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/_menu.scss */
div#menuA h4 {
  margin: 10px 0 10px 0;
  text-align: center;
}
/* line 28, ../sass/_menu.scss */
div#menuA dl {
  border: none;
  width: 100%;
  border-width: 1pt 0pt 1pt 0pt;
  border-style: solid;
  border-color: #fff;
}
/* line 35, ../sass/_menu.scss */
div#menuA dt {
  border: none;
  padding-left: 10px;
  border-width: 1pt 0pt 1pt 0pt;
  border-style: solid;
  border-color: #fff;
  background: #bfc6e2;
}
/* line 41, ../sass/_menu.scss */
div#menuA dt a {
  padding: 7px 0;
  color: black;
  text-decoration: none;
  width: 100%;
}
/* line 48, ../sass/_menu.scss */
div#menuA dt.dt_tree.link {
  background: #f3f3f3;
}
/* line 52, ../sass/_menu.scss */
div#menuA dd {
  border: none;
  /* padding-left:20px;*/
}
/* line 55, ../sass/_menu.scss */
div#menuA dd a {
  text-decoration: none;
  padding: 2px 0;
  color: black;
  width: 100%;
}
/* line 60, ../sass/_menu.scss */
div#menuA dd a:hover {
  color: #fff;
}
/* line 64, ../sass/_menu.scss */
div#menuA dd a.end {
  padding-bottom: 1px;
}
/* line 66, ../sass/_menu.scss */
div#menuA dd a.end:hover {
  padding-bottom: 1px;
}
/* line 72, ../sass/_menu.scss */
div#menuA dt {
  background-image: url(../img/menu/icon_arrow02.png);
  background-repeat: no-repeat;
  background-position: 200px center;
}
/* line 74, ../sass/_menu.scss */
div#menuA dt span.home {
  background: url(../img/menu/menu_00.png) no-repeat left top rgba(255, 255, 255, 0);
}
/* line 77, ../sass/_menu.scss */
div#menuA dt span.recture {
  background: url(../img/menu/menu_01.png) no-repeat left top rgba(255, 255, 255, 0);
}
/* line 77, ../sass/_menu.scss */
div#menuA dt span.status {
  background: url(../img/menu/menu_02.png) no-repeat left top rgba(255, 255, 255, 0);
}
/* line 80, ../sass/_menu.scss */
div#menuA dt span.schedule {
  background: url(../img/menu/menu_03.png) no-repeat left top rgba(255, 255, 255, 0);
}
/* line 83, ../sass/_menu.scss */
div#menuA dt span.user {
  background: url(../img/menu/menu_04.png) no-repeat left top rgba(255, 255, 255, 0);
}
/* line 86, ../sass/_menu.scss */
div#menuA dt span.analysis {
  background: url(../img/menu/menu_05.png) no-repeat left top rgba(255, 255, 255, 0);
}
/* line 89, ../sass/_menu.scss */
div#menuA dt span.system {
  background: url(../img/menu/menu_06.png) no-repeat left top rgba(255, 255, 255, 0);
}
/* line 93, ../sass/_menu.scss */
div#menuA dt.dt_tree.link span a {
  background: url(../img/menu/icon_link.png) no-repeat left center rgba(255, 255, 255, 0);
  margin: 0px 0px 0px 0px;
}
/* line 100, ../sass/_menu.scss */
div#menuA dt.active {
  background-image: url(../img/menu/icon_arrow01.png);
}
div#menuA dt.dt_tree_none {
  background-image: none;
}
/* line 103, ../sass/_menu.scss */
div#menuA dt.direct a {
  color: #000;
}
/* line 105, ../sass/_menu.scss */
div#menuA dt.direct a:hover {
  color: #fff;
}

/* メニュー全体 */
/* カテゴリ名 */
/* メニュー1段目pink */
/* メニュー2段目gray */
/* カテゴリメニュー */
/* (アイコン表示) */
/* ダイレクトリンク */
/* チェックボックス */
/* line 127, ../sass/_menu.scss */
.dt_tree input[type=checkbox] {
  float: none;
}

/*メイン*/
/* line 133, ../sass/_menu.scss */
div#main {
  float: right;
  margin: 20px 0;
  border: 1px solid silver;
  height: 100%;
  /* width:555px;*/
  width: 74%;
}
div#main2 {
  float: right;
  margin: 20px 0;
  border: 1px solid silver;
  height: 400px;
  width:500px;
}
