/* グループツリー */
div#group_tree, div#group_tree * { margin:0; padding:0;}
div#group_tree { margin:20px 0 20px 0; width:200px; float:left;  border:1px solid silver;}
div#group_tree dl {border:none; width:100%;}
/* カテゴリ名 */
div#group_tree dt {border:none;  padding-left:10px;}
div#group_tree dt a { padding:5px 0; color:black; text-decoration:none; width:100%;}
/* カテゴリメニュー */
div#group_tree dd { border:none; padding-left:20px;}
div#group_tree dd a { text-decoration:none; padding:2px 0; color:black; width:100%;}
div#group_tree dd a:hover { color:#fff; }
div#group_tree dd a.line, div#group_tree dd a.line:hover { }
div#group_tree dd a.end, div#group_tree dd a.end:hover { padding-bottom:1px; }
/* ダイレクトリンク */
div#group_tree dt.direct a { color:#000;}
div#group_tree dt.direct a:hover { color:#fff;}
/* チェックボックス */
.dt_tree input[type=checkbox]{ float:none}