div#loginForm.red {position: relative; width:540px; height:300px; padding: 150px 0px 150px 0px; background: #ffffff url('../img/login_red.png') no-repeat left;}
div#loginForm.blue {position: relative; width:540px; height:300px; padding: 150px 0px 150px 0px; background: #ffffff url('../img/login_blue.png') no-repeat left;}
div#loginForm.gray {position: relative; width:540px; height:300px; padding: 150px 0px 150px 0px; background: #ffffff url('../img/login_gray.png') no-repeat left;}
div#loginForm.orange {position: relative; width:540px; height:300px; padding: 150px 0px 150px 0px; background: #ffffff url('../img/login_orange.png') no-repeat left;}
div#loginForm.green {position: relative; width:540px; height:300px; padding: 150px 0px 150px 0px; background: #ffffff url('../img/login_green.png') no-repeat left;}
/* tH[ */
div#loginForm form {
	position: absolute;
	top: 300px;
	left: 20px;
}
/* eLXg{bNX */
form#MUserLoginForm p input[type=text],
form#MUserLoginForm p input[type=password] {
	border:1px solid rgb(169, 169, 169);     /* güÌü */
	border-radius: 20px;         /* CSS3 */
	-moz-border-radius: 20px;    /* Firefox */
	-webkit-border-radius: 20px; /* Safari,Chrome */
}
/* bZ[W */
#authMessage {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	color: #ffff66;
	font-family:Verdana,arial,sans-serif,hqMmpS Pro W3,hlr SVbNh,hOsakah;
	font-size:90%;
}
